  <main>
  <h1>Enter your stock here:</h1>
    <form action="/" method="get">
      <input type="text" name="stock" class="form" size="6">
      <button class="form">Submit</button>
    </form>
  </main>