* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  line-height: 18px;
  background: lightgrey;
  font-family: sans-serif;
}

header {
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: tomato;
}

article footer {
  border-top: 1px dotted;
  border-bottom: 1px solid;
  margin-bottom: 50px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

aside h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0;
}

aside a {
  color: black;
    /*margin-left: 0.5em;*/
  display: block;
  text-decoration: none;
}

aside img {
  padding: 10px 0;
  display: block;
}

.logocontainer {
  width: 300px;
  height: 250px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.articles {
  max-width: 650px;
}

#columns {
  overflow: auto;
  margin: 0 auto;
  max-width: 950px;
}

.column {
  padding: 20px;
  float: left;
  display: inline;
  background: white;
  margin: 10px;
}

#socialicons {
  width: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

img.logo {
  display: inline;
}

footer.socials {
  padding: 40px;
}