body {
  margin: 0;
  background: ivory;
  font-family: Helvetica;
}

h1 a {
  text-decoration: none;
  color: black;
}

h1 a:hover {
  text-decoration: underline;
}

header {
  width: 100%;
  background: tomato;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
  padding-bottom: 10px;
}

main {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

img {
  float: left;
  margin: 10px;
  width: 40%;
}

section {
  float: left;
  /*margin: 20px;*/
  width: 50%;
}