<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WDI Compliment</title>
  <link href="https://fonts.googleapis.com/css?family=<%= font %>" rel="stylesheet">
  <style>
    body {
      background: <%= color %>;
    }
    h1 {
      font-family: <%= font %>;
    }
    #compliment {
      width: 50%;
      margin: 0 auto;
      padding-top: 100px;
    }
  </style>
</head>
<body>
  <div id="compliment">
    <h1><%= compliment %></h1>
  </div>
</body>
</html>