body {
  background: midnightblue;
  color: papayawhip;
  font-family: Helvetica, sans-serif;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 80px;
}

main {
  font-size: 60px;
}

.form {
  height: 60px;
  font-size: 40px;
}

.up {
  background: chartreuse;
  color: black;
  padding: 5px;
}

.down {
  background: tomato;
  color: black;
}